<!DOCTYPE html>
<html lang="en">
<head>
	<title>Real time Score</title>
	<script src="/chat.js" ></script>
	<!--<script type='text/javascript' src="/socket.io/socket.io.js"></script>-->
</head>
<body>
<div id="content"></div>
<input type="text" style="width:350px;" id="field" />
<input type="button" value="send" id="send" />
</body>
</html>
